{% include "header.html" %}
<h1>Change password</h1>
<div style="color:red">{{error1}}</div>
<div style="color:red">{{error2}}</div>
<div style="color:green">{{success}}</div>
<form action="/changepass" method="POST">
   <div>
     Current Password
   </div>
   <input type="password" name="curr_password"></input>
   <div>
     New Password
   </div>
   <input type="password" name="new_password"></input>
   <div>
     Retype new password
   </div>
   <input type="password" name="new_password2"></input>
   <div>
   <input type="submit" value="Change Password"/>
   </div>
</form>
{% include "footer.html" %}
